body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.title-left { 
    font-size: 85px;
}

nav{
    display: flex;
    gap: 20px;
}

.button {
    display: inline-block;
    padding: 50px 45px;
    margin: 5px;
    text-decoration: none;
    background-color: rgba(8, 0, 68, 0.6);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    font-weight: 1000;
    font-size: 17px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    position: relative;
  }

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}
.button:hover {
    color: #e8e8e8;
}

.button:hover::before {
    width: 100%;
}

header {
    margin: 25px;
    display: flex;
    align-items: center;
    padding: 20px 25px;
    background-color: whitesmoke;
    justify-content: space-between;
    max-height: 100px;
    opacity: 0.8;
}

.home-logo {
    margin-right: 20px;
}

.home-logo img {
    max-width: 100px;
}