body {
    padding: 0;
    margin: 0;
    background-image: url('/pages/hero-gallery/hero5/assets/img/hero5-wallpaper.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    gap: 15px;
}

.button {
    display: inline-block;
    padding: 25px 45px;
    margin: 5px;
    text-decoration: none;
    background-color: rgba(7, 110, 158, 0.6);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    font-weight: 1000;
    font-size: 17px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    position: relative;
  }

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 10px;
    background-color: #212121;
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}
.button:hover {
    color: #e8e8e8;
}

.button:hover::before {
    width: 100%;
}

header {
   margin: 25px;
   display: flex;
   align-items: center;
   padding: 20px 25px;
   background-color: whitesmoke;
   justify-content: space-between;
   max-height: 100px;
   opacity: .8;
}

.home-logo {
    margin-right: 20px;
}

.home-logo img {
    max-width: 150px;
    height: 100px;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border-radius: 50px;
    margin: 25px;
    width: 100rem;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 50px;
    padding: 20px 20px;
}

.inner-container-left {
    width: 50%;
    height: 50%;
    background-color: red;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    outline: solid black;
}

.inner-container-right {
    width: 50%;
    height: 100%;
    background-color: red;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    outline: solid black;
}




