*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: url('/pages/hero-gallery/hero3/assets/img/sith-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    gap: 15px;
}

.button {
    display: inline-block;
    padding: 30px 45px;
    margin: 5px;
    text-decoration: none;
    background-color: rgba(8, 0, 68, 0.6);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    font-weight: 1000;
    font-size: 17px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    position: relative;
  }

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}
.button:hover {
    color: #e8e8e8;
}

.button:hover::before {
    width: 100%;
}

header {
   display: flex;
   align-items: center;
   padding: 20px;
   background-color:transparent;
   justify-content: space-between;
   max-height: 100px;
   opacity: .8;
}

.home-logo {
    margin-right: 20px;
    height: auto;
    width: auto;
    background-color: antiquewhite;
}

.home-logo img {
    max-width: 300px;
    height: 100px;
    width: 200px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border-radius: 50px;
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 100rem;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    gap: 50px;
    padding: 20px 20px;
}

.inner-container-left {
    width: 50%;
    height: 50%;
    background-color: red;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.inner-container-right {
    width: 50%;
    height: 100%;
    background-color: red;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    outline: solid black;
}




